
/* --- Main page divs --- */

#wrapper
{
  margin:		0 auto;
  //width:		700px;
  width:		90%;
  text-align:		center;
  font-weight:		bold;
  font-size:		20px;
  color:		black;
  overflow: hidden
}

#workdesk
{
  border:               15px solid black;
  border-radius:        25px;
  box-sizing:           border-box;
  width:		100%;
}

#contact
{
  margin:		0 auto;
  width:		60%;
  text-align:		center;
  font-weight:		bold;
  color:		black;
}

#content
{
  width:		100%;
}

a
{
  color:		white;
  background-color:	black;
}

body
{
  //background-image:	url("../Logos/fast_cam.png"); background-size: cover;
  //background-image:	url("../Logos/magic_pixel_back.png"); background-size: cover;
  background-image:	url("../Logos/VVebUQ_background.png"); background-size: cover;
  //background-color:	lightGrey;
  color:		black;
}

.button_like
{
  background-color: 	lightGray;
  color: 		black;
  border: 		1px solid blue;
  border-radius:        5px;
  font-weight:		bold;
  font-size:		15px;
  box-shadow: 		3px 3px rgba(200, 200, 200, 0.3);;
}

.button_like:hover
{
  background-color: 	darkGray;
}





/* --- Waiting/Action div --- */

#waiting_div
{
  position:             absolute;
  width:		60%;
  z-index:		3000;
  border: 		20px solid #600000;
  border-radius:        25px;
  background-color: 	rgba(200, 200, 200, 0.9);
  text-align: 		center;
}

#waiting_message
{
  font-weight: 		bold;
  font-size:		20px;
}

#waiting_gif
{
  visibility: 		hidden;
  width: 		75px;
}

.waiting_div_buttons
{
  background-color: 	#404040;
  color: 		white;
  border: 		2px solid black;
  border-radius:        2px;
  font-weight: 		bold;
  font-size:		15px;
}

#waiting_div button:hover
{
  background-color: 	darkGray;
}

#terminal_output
{
  width:		100%;
  background:		black;
  color:		white;
  text-align:		left;
  overflow-wrap: 	normal;
}




/* --- Style of working tabs ---  */

.tab
{
  overflow: 		hidden;
  border: 		1px solid #ccc;
  border-radius: 	10px;
  background-color: 	#f1f1f1;
}

.tab button
{
  background-color: 	inherit;
  float: 		left;
  border: 		none;
  outline: 		none;
  padding: 		20px 20px;
  cursor: 		pointer;
  transition: 		0.3s;
  font-size: 		30px;
  font-weight: 		bold;
}

.tab div
{
  background-color: 	inherit;
  float: 		left;
  border: 		none;
  outline: 		none;
  padding: 		none;
  cursor: 		pointer;
  transition: 		0.3s;
  font-size: 		30px;
  font-weight: 		bold;
}


.tab button:hover
{
  background-color: 	#ddd;
}

.tab button.active
{
  background-color: 	#ccc;
}

.tabcontent
{
  min-height: 		400px;
  display: 		none;
  padding: 		6px 12px;
  border: 		1px solid #ccc;
  border-radius: 	10px;
  border-top: 		none;
  background-color: 	rgba(0, 0, 0, 0.7);
  color: 		white;
}



