#wrapper
{
  margin:		0 auto;
  //width:		700px;
  width:		90%;
  text-align:		center;
  font-weight:		bold;
  font-size:		20px;
  color:		white;
  overflow: hidden
}

#logo
{
  margin:		0 auto;
  width:		20%;
}

#contact
{
  margin:		0 auto;
  width:		60%;
  text-align:		center;
  font-weight:		bold;
  //font-size:		12px;
  //background-color:	DarkBlue;
  color:		white;
}

#content
{
  width:		100%;
}

a
{
  color:		white;
  background-color:	black;
}

body
{
  /*background-image:	url("../Logos/fast_cam.png"); background-size: cover;*/
  background-image:	url("../Logos/magic_pixel_back.png"); background-size: cover;
}



